In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [2]:
nov16 = pd.read_csv('/Users/danielle.arneson/Desktop/11.16_RegSnap.csv')
nov17 = pd.read_csv('/Users/danielle.arneson/Desktop/NEW_11.17Snap.csv')

In [3]:
nov17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3049 entries, 0 to 3048
Data columns (total 22 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   #1_amp_vendor_id_is_aduro_basics          3049 non-null   int64
 1   #2_temp_pw_is_false                       3049 non-null   int64
 2   #3_amp_matches_aduro_id_pattern           3049 non-null   int64
 3   #4_amp_authen_type_is_AWS_Cognito         3049 non-null   int64
 4   #5a_amp_company_has_users_has_user_id     3049 non-null   int64
 5   #5b_amp_company_has_users_has_company_id  3049 non-null   int64
 6   #6_program_service_program_user_has_user  3049 non-null   int64
 7   sum_of_reg_score                          3049 non-null   int64
 8   aduro_id                                  3049 non-null   object
 9   amp_record_exists                         3049 non-null   bool
 10  amp_is_enabled                            1747 non-null   object
 11  amp_email_confirmed                       1747 non-null   object
 12  account_created                           3049 non-null   bool
 13  amp_authen_type                           60 non-null     object
 14  account_status                            122 non-null    object
 15  es_email                                  2467 non-null   object
 16  amp_email                                 1747 non-null   object
 17  es_interface_id                           2741 non-null   object
 18  employer_id                               3049 non-null   object
 19  program_service_employer_id               470 non-null    object
 20  amp_employer_id                           1745 non-null   object
 21  amp_client_id                             0 non-null      float64
dtypes: bool(2), float64(1), int64(8), object(11)
memory usage: 482.5+ KB

In [4]:
nov16.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3054 entries, 0 to 3053
Data columns (total 22 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   #1_amp_vendor_id_is_aduro_basics          3054 non-null   int64
 1   #2_temp_pw_is_false                       3054 non-null   int64
 2   #3_amp_matches_aduro_id_pattern           3054 non-null   int64
 3   #4_amp_authen_type_is_AWS_Cognito         3054 non-null   int64
 4   #5a_amp_company_has_users_has_user_id     3054 non-null   int64
 5   #5b_amp_company_has_users_has_company_id  3054 non-null   int64
 6   #6_program_service_program_user_has_user  3054 non-null   int64
 7   sum_of_reg_score                          3054 non-null   int64
 8   aduro_id                                  3054 non-null   object
 9   amp_record_exists                         3054 non-null   bool
 10  amp_is_enabled                            1662 non-null   object
 11  amp_email_confirmed                       1662 non-null   object
 12  account_created                           3054 non-null   bool
 13  amp_authen_type                           49 non-null     object
 14  account_status                            127 non-null    object
 15  es_email                                  2472 non-null   object
 16  amp_email                                 1662 non-null   object
 17  es_interface_id                           2746 non-null   object
 18  employer_id                               3054 non-null   object
 19  program_service_employer_id               475 non-null    object
 20  amp_employer_id                           1660 non-null   object
 21  amp_client_id                             0 non-null      float64
dtypes: bool(2), float64(1), int64(8), object(11)
memory usage: 483.3+ KB

In [5]:
nov17.head()

,#1_amp_vendor_id_is_aduro_basics,#2_temp_pw_is_false,#3_amp_matches_aduro_id_pattern,#4_amp_authen_type_is_AWS_Cognito,#5a_amp_company_has_users_has_user_id,#5b_amp_company_has_users_has_company_id,#6_program_service_program_user_has_user,sum_of_reg_score,aduro_id,amp_record_exists,...,account_created,amp_authen_type,account_status,es_email,amp_email,es_interface_id,employer_id,program_service_employer_id,amp_employer_id,amp_client_id
0,0,0,0,0,0,0,0,0,000398c2-673d-4314-a76c-ac5759c7a018,False,...,False,NaN,NaN,jeanninemylott@yahoo.com,NaN,df9c9abf-6342-40d6-ade5-97456eb4401b,bb8325f2-3a5a-4ec1-8c30-c262eb5c0539,bb8325f2-3a5a-4ec1-8c30-c262eb5c0539,NaN,NaN
1,1,1,1,0,1,0,0,4,002754a1-8376-4805-b942-d567bf775748,True,...,False,NaN,NaN,reganemerson@yahoo.com,reganemerson@yahoo.com,0715e692-8325-4996-8e1f-f6765ceb7f0b,bb8325f2-3a5a-4ec1-8c30-c262eb5c0539,NaN,107575,NaN
2,1,1,1,0,0,0,0,3,002cd3e4-634f-4270-a7e0-ef83c4b4009f,True,...,False,NaN,NaN,jeremy.mott@bostik.com,jeremy.mott@bostik.com,303925d3-035e-40ea-80b0-fd5eee402e85,bb8325f2-3a5a-4ec1-8c30-c262eb5c0539,NaN,bb8325f2-3a5a-4ec1-8c30-c262eb5c0539,NaN
3,0,0,0,0,0,0,0,0,002e64cb-ce59-451f-9475-030f7e7a71fb,False,...,False,NaN,NaN,vahora.sahista4@gmail.com,NaN,3266a411-ec09-46a4-8a64-10ebb7462c16,bb8325f2-3a5a-4ec1-8c30-c262eb5c0539,NaN,NaN,NaN
4,1,1,1,0,0,0,0,3,0031e745-4bf9-441c-926e-4cb01422eaf2,True,...,False,NaN,NaN,a0000763@arkema.com,a0000763@arkema.com,1755f519-bda5-4900-9e63-495494382f6a,bb8325f2-3a5a-4ec1-8c30-c262eb5c0539,NaN,bb8325f2-3a5a-4ec1-8c30-c262eb5c0539,NaN

In [6]:
nov17['#1_amp_vendor_id_is_aduro_basics'].value_counts()

1    1747
0    1302
Name: #1_amp_vendor_id_is_aduro_basics, dtype: int64

In [7]:
nov17['#2_temp_pw_is_false'].value_counts()

1    1708
0    1341
Name: #2_temp_pw_is_false, dtype: int64

In [8]:
nov17['#3_amp_matches_aduro_id_pattern'].value_counts()

1    1747
0    1302
Name: #3_amp_matches_aduro_id_pattern, dtype: int64

In [9]:
nov17['#4_amp_authen_type_is_AWS_Cognito'].value_counts()

0    2989
1      60
Name: #4_amp_authen_type_is_AWS_Cognito, dtype: int64

In [10]:
nov17['#5a_amp_company_has_users_has_user_id'].value_counts()

0    2912
1     137
Name: #5a_amp_company_has_users_has_user_id, dtype: int64

In [11]:
nov17['#5b_amp_company_has_users_has_company_id'].value_counts()

0    3049
Name: #5b_amp_company_has_users_has_company_id, dtype: int64

In [12]:
nov17['#6_program_service_program_user_has_user'].value_counts()

0    3049
Name: #6_program_service_program_user_has_user, dtype: int64

In [13]:
nov17['sum_of_reg_score'].value_counts()

3    1564
0    1302
4     103
5      45
2      35
Name: sum_of_reg_score, dtype: int64

In [14]:
nov17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3049 entries, 0 to 3048
Data columns (total 22 columns):
 #   Column                                    Non-Null Count  Dtype
---  ------                                    --------------  -----
 0   #1_amp_vendor_id_is_aduro_basics          3049 non-null   int64
 1   #2_temp_pw_is_false                       3049 non-null   int64
 2   #3_amp_matches_aduro_id_pattern           3049 non-null   int64
 3   #4_amp_authen_type_is_AWS_Cognito         3049 non-null   int64
 4   #5a_amp_company_has_users_has_user_id     3049 non-null   int64
 5   #5b_amp_company_has_users_has_company_id  3049 non-null   int64
 6   #6_program_service_program_user_has_user  3049 non-null   int64
 7   sum_of_reg_score                          3049 non-null   int64
 8   aduro_id                                  3049 non-null   object
 9   amp_record_exists                         3049 non-null   bool
 10  amp_is_enabled                            1747 non-null   object
 11  amp_email_confirmed                       1747 non-null   object
 12  account_created                           3049 non-null   bool
 13  amp_authen_type                           60 non-null     object
 14  account_status                            122 non-null    object
 15  es_email                                  2467 non-null   object
 16  amp_email                                 1747 non-null   object
 17  es_interface_id                           2741 non-null   object
 18  employer_id                               3049 non-null   object
 19  program_service_employer_id               470 non-null    object
 20  amp_employer_id                           1745 non-null   object
 21  amp_client_id                             0 non-null      float64
dtypes: bool(2), float64(1), int64(8), object(11)
memory usage: 482.5+ KB

In [17]:
nov17_2= nov17[nov17['#1_amp_vendor_id_is_aduro_basics']<1]

In [18]:
nov17_2['sum_of_reg_score'].value_counts()

0    1302
Name: sum_of_reg_score, dtype: int64

In [20]:
nov17_3 = nov17[nov17['#2_temp_pw_is_false']<1]

In [22]:
nov17_3['#2_temp_pw_is_false'].value_counts() #members who have 0 for #2_temp_pw_is_false

0    1341
Name: #2_temp_pw_is_false, dtype: int64

In [21]:
nov17_3['sum_of_reg_score'].value_counts()

0    1302
2      35
4       4
Name: sum_of_reg_score, dtype: int64

In [25]:
nov17_4 = nov17[nov17['#3_amp_matches_aduro_id_pattern']<1]

In [26]:
nov17_4['sum_of_reg_score'].value_counts() # of members with 0 in first and second row

0    1302
Name: sum_of_reg_score, dtype: int64

In [27]:
nov17_5 = nov17[nov17['#4_amp_authen_type_is_AWS_Cognito']<1]

In [28]:
nov17_5['sum_of_reg_score'].value_counts()

3    1564
0    1302
4      88
2      35
Name: sum_of_reg_score, dtype: int64

In [29]:
nov17_6 = nov17[nov17['#5a_amp_company_has_users_has_user_id']<1]

In [30]:
nov17_6['sum_of_reg_score'].value_counts()

3    1564
0    1302
2      35
4      11
Name: sum_of_reg_score, dtype: int64